<!DOCTYPE html>
<!--[if IE 9 ]>
<html class="ie ie9" lang="zh-CN" class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !(IE)]><!-->
<html lang="zh-CN" class="no-js"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->


<head>
    <title>教学管理系统</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Tendata - Bootstrap Admin Dashboard Theme"/>
    <meta name="author" content="zhoulingfang"/>

    <!-- CSS -->
    <link href="js/lib/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css"/>




    <!-- jquery & plugins -->
    <script src="js/lib/jquery/jquery.min.js"></script>

    <script src="js/lib/bootstrap/bootstrap.js"></script>


    <!-- angularjs related -->
    <!-- <script src="assets/js/angular/angular-1.4.8.min.js"></script> -->
    <script src="js/lib/angular/angular-1.4.min.js"></script>
    <script src="js/lib/angular/i18n/angular-locale_zh-cn.js"></script>
    <script src="js/lib/angular/angular-route.min.js"></script>
    <script src="js/lib/angular/ui-bootstrap-tpls-1.1.1.js"></script>
    <script src="js/lib/angular/angular-cookies.min.js"></script>
    <script src="js/lib/angular/angular-toggle-switch.min.js"></script>
    <script src="js/lib/angular/angular-animate.min.js"></script>

    <!-- angularjs app -->
    <script src="js/app/app.js"></script>
    <script src="js/app/app-config.js"></script>

    <!--app js -->

</head>
<body>

Hello World

</body>

</html>
